@import "../../styles/variables";

.separator {
  width: 210px;
  margin: 14px auto;
  position: relative;
  span {
    margin: 0 auto;
    display: block;
    width: 11px;
    height: 11px;
    background: $primaryFillColor;
    transform: rotate(45deg);
  }
  &:before,
  &:after {
    content: "";
    display: block;
    width: 82px;
    height: 3px;
    position: absolute;
    top: 50%;
    background: $separatorStrokeColor;
    transform: translateY(-50%);
  }
  &:before {
    left: 0;
  }
  &:after {
    right: 0;
  }
}
