$primaryTextColor: #ffffff;
$secondaryTextColor: #444444;
$thirdTextColor: #595959;
$fourthTextColor: #eeeeee;

$primaryBackground: #ffffff;
$secondaryBackground: #001832;
$thirdBackground: #f7f8fa;

$primaryFillColor: #fe9002;
$secondaryFillColor: #fdac44;

$separatorStrokeColor: #d1d1d1;

$transitionTime: 0.25s;
