.features-wrapper {
  background: #ffffff;
  position: relative;
  padding: 198px 0 41px;
  margin-top: -110px;
  overflow: hidden;
  z-index: 1;
  &:before,
  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 273px;
    height: 823px;
  }
  &:before {
    left: 0;
    top: 20%;
    background: url("../../assets/images/particles_left.svg") no-repeat 50% 0;
  }
  &:after {
    right: 0;
    bottom: 30%;
    background: url("../../assets/images/particles_right.svg") no-repeat 50%
      100%;
  }
}

@media (max-width: 599px) {
  .features-wrapper {
    &:before {
      left: 0;
      top: 60%;
      background: url("../../assets/images/particles_left.svg") no-repeat 50% 0;
    }
    &:after {
      right: 0;
      bottom: 60%;
      background: url("../../assets/images/particles_right.svg") no-repeat 50%
        100%;
    }
  }
}
